@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563EB;
  --secondary: #F59E0B;
  --error: #EF4444;
  --background: #f9fafb;
  --surface: #ffffff;
  --text: #111827;
}

body {
  @apply bg-background text-text;
}
